.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 6px;
    font-size: 90%;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.25);
    top: 100%;
    z-index: 10000000000000000000000000;
    border: 1px solid #E0E0E0;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: black !important;
    text-decoration: none;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: #000 !important;
    background-color: #F3F4F6 !important;
}



.dropdownbtn {
    border-radius: 12.5px;
    color: red !important;
    background: #fff !important;
    font-size: 80%;
    font-weight: bold;
    padding-right: 7.5%;
    padding-left: 7.5%;
    border: 1px solid #e5e5e5;
}